# Configuración y Secretos
config.json
.env

# Datos del bot (Ignorar contenido, mantener carpeta)
data/*.json
data/*.txt
!data/.gitkeep

# Python / Entorno
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.idea/
.vscode/
*.log
